Package: [[artifactId]]
Version: [[version]]
Depends: bash (>= 2.0), adduser (>= 2.0), postgresql-9.4 | postgresql (>= 9.4)
Priority: optional
Architecture: all
Maintainer: Q-Free Back Office <yngveh@q-free.com>
Description: [[name]]
:[[description]]
Distribution: testing
