Package: qfree-[[artifactId]]
Version: [[version]]
Depends: bash (>= 2.0), adduser (>= 2.0), postgresql-client (>= 9.4), qfree-platform-core, qfree-pdi-ce
Priority: optional
Architecture: all
Maintainer: Q-Free Back Office <yngveh@q-free.com>
Description: [[name]]
:[[description]]
Distribution: testing
