<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="60 seconds">

	<!-- For information about configuration, read the logback manual: http://logback.qos.ch/manual/index.html -->

	<!-- This file logs to the file logs/APP_NAME.log. This file is rotated and        -->
	<!-- compressed to log/oldlogs/APP_NAME.yyyy-MM-dd.log.gz every day at midnight  -->

    <property name="APP_NAME" value="${app.package}" />
    <property name="LOG_FOLDER" value="${app.rootDir}/${app.user}/logs" />
    <property name="ARCHIVE_FOLDER" value="${LOG_FOLDER}/oldlogs" />

	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<!-- JMXConfigurator allows configuration of logback via JMX -->
	<jmxConfigurator />

	<!-- 	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%d [%thread] %-5level %logger{32} - %msg%n
			</pattern>
		</encoder>
	</appender>
	 -->

	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
	
		<file>${LOG_FOLDER}/${APP_NAME}.log</file>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${ARCHIVE_FOLDER}/${APP_NAME}.log-%d{yyyyMMdd}-%i.gz</fileNamePattern>
			<!-- Rollover daily. -->
			<!-- Ensure any log does not exceed 100MB in size for manageability. -->
			<!-- Keep 30 days of history. -->
			<!-- Limit the maximum total disk we will use for logs at a hard limit of 20GB. -->
			<maxFileSize>100MB</maxFileSize>
			<maxHistory>30</maxHistory>
			<totalSizeCap>20GB</totalSizeCap>
		</rollingPolicy>

		<encoder>
			<pattern>
				<!-- ISO 8601 compliant datetime (e.g., 2014-12-04T16:00:26,432+01:00): -->
				%d{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX"} [%thread] %-5level %logger{32} %M - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- Application Loggers -->
	<logger name="com.qfree" level="DEBUG" />
		
	<!-- 3rdparty Loggers -->
	<!-- <logger name="org.postgresql"><level value="INFO" /></logger> -->

	<!-- Everything else, not explicitly configured above. -->
	<root level="INFO">
		<!-- <appender-ref ref="STDOUT"/> -->
		<appender-ref ref="file" />
	</root>
</configuration>